* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  background-color: #def0fc;
}

li {
  list-style: none;
}

.user-list {
  max-width: 350px;
  width: 80%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
  font-weight: bold;
}

.user-item {
  padding: 10px 5px;
  text-transform: capitalize;
}

.user-item:hover {
  background-color: #cccccc;
}
